// Colors

$black: #000;
$black_light: #2e2e38;
$white: #fff;
$off_white: #ddd;
$grey: #777;
$ktm_yellow: #f8b31f;


// Media Queries

$mobile: "only screen and (max-width : 768px)";
$tablet: "only screen and (max-width : 1024px)";